.card-box {
  margin: .1rem .2rem;
  width: 6rem;
  max-width: 300px;

  .card-content-box {
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
  }
}

