.btn-box {
    text-align: right;
  }
  
  .code-info {
    padding: .2rem .4rem;
    font-size: .26rem;
    letter-spacing: 2px;

    .code-info-title {
      font-size: .28rem;
      margin: .2rem 0;
    }
  }