html,
body {
  height: 100%;
  transform: translateZ(0);
  backface-visibility:hidden;
  perspective:1000;
}

h3 {
  margin: .2rem auto;
  text-align: center;
  font-size: .32rem;
}

section {
  padding: .2rem .4rem;
  font-size: .28rem;
  letter-spacing: 2px;
  p {
    text-indent: .2rem;
  }
  
}

img {
  border: 0 none;
  max-width: 100%;
  vertical-align: top;
  pointer-events: none;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}
.none {
  display: none;
}

.article-code {
  margin: .2rem .4rem;
  padding: .2rem .4rem;
  background-color: #f7f9fa;
}

@keyframes rotate{
  from{-webkit-transform: rotate(0deg)}
  to{-webkit-transform: rotate(360deg)}
}